body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #5e0161, #53025a)repeat;
    overflow-x: hidden;


}

.tela {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

#brilho{
    position: absolute;
    width: 200%; 
    z-index: 0;
}

#brilho2{
    position: relative;
    width: 200%; 
    z-index: 0;
}

#logo{
    position: absolute;
    width: 10%;
}
.navbar-nav a{
    margin-top: 0.2%;
    font-size: 150%;

}


.tituloCarrosel{
    font-size: 300%;
    font-family:fantasy;
    color: #ffffff;
}

.card:hover{
	transform: scale(1.2);
}


#noticias:hover{
	transform: scale(1);
}

.fundoNoticias{
    position: relative;    
    background-color: rgb(50, 2, 82);
}





.fundoBuilds{
    position: relative;
    background-color: rgb(42, 0, 70);
}
.fundoClasses{    
    position: relative;
    background-color: rgb(72, 23, 102);
}

.fundoRodape{
    position: relative;
    background-color: rgb(38, 0, 65);
}


.noticias{
    margin-top: 3%;
    margin-left: 6%;
    width: 18%;
    font-family: fantasy;
    display: inline-block;
    padding: 0.2% 0.1%;
    background-color:  #510058;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-align: center;
    

}

.classes{
    margin-top: 3%;
    margin-left: 6%;
    width: 18%;
    font-size: 2rem;
    font-family: fantasy;
    padding: 0.2% 0.1%;

    background-color:  #510058;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-align: center;

}

.video{
    margin: 8%;
    margin-top: 1%;
    width: 18%;
    font-family: fantasy;
    display: inline-block;
    padding: 0.2% 0.1%;
    background-color:  #510058;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-align: center;

}

.builds{
    margin: 8%;
    margin-top: 2%;    
    width: 18%;
    font-family: fantasy;
    display: inline-block;
    padding: 0.2% 0.1%;
    background-color:  #510058;
    color: rgb(255, 255, 255);
    border-radius: 90px;
    text-align: center;

}

.more{
    margin-top: 2%;
    font-family: fantasy;
    display: inline-block;
    padding: 10px 20px;
    background-color:  #510058;
    color: rgb(255, 255, 255);
    border-radius: 90px;

}

#item{
    width: 20%;
    margin-bottom: 4%;
}

#clefable{
    position: absolute;
    width: 20%;
    right: -5%;
    bottom: 0%;
    z-index: 2;
}
#clefable:hover{
    transform: translate(10px, 2%);
}
#wiggly{
    position: absolute;
    width: 18%;
    left: -5%;
    bottom: 5%;
    z-index: 2;
}
#wiggly:hover{
    transform: translate(10px, 2%);
}
#venusaur{
    position: absolute;
    width: 20%;
    left: -4%;
    top: 15%;
    z-index: 1;
}
#venusaur:hover{
    transform: translate(10px, 2%);
}


#greedent{
    position: absolute;
    width: 16.5%;
    left: -5%;
    top: 8%;
    z-index: 1;
}
#greedent:hover{
    transform: translate(10px, 2%);
}
#eldegoss{
    position: absolute;
    width: 13%;
    right: 10%;
    top: 5%;
    z-index: 1;
}
#eldegoss:hover{
    transform: translate(10px, 2%);
}
#dragapult{
    position: absolute;
    width: 15%;
    right: 0%;
    top: 80%;
    z-index: 1;
}
#dragapult:hover{
    transform: translate(10px, 2%);
}

#comfey{
    position: absolute;
    width: 15%;
    right: 0%;
    bottom: 0%;
    z-index: 1;
}
#comfey:hover{
    transform: translate(10px, 2%);
}
#talonflame{
    position: absolute;
    width: 18%;
    left: -3%;
    bottom: 8%;
    z-index: 1;
}
#talonflame:hover{
    transform: translate(10px, 2%);
}
#sableye{
    position: absolute;
    width: 18%;
    left: 60%;
    bottom: 65%;
}
#sableye:hover{
    transform: translate(10px, 2%);
}


#scizor{
    position: absolute;
    width: 160%;
    left: 210%;
    top: 0%;
    z-index: 2;
}
#scizor:hover{
    transform: translate(10px, 2%);
}
#tyranitar{
    position: absolute;
    width: 120%;
    right: 120%;
    bottom: 10%;
    z-index: 1;
}
#tyranitar:hover{
    transform: translate(10px, 2%);
}
#slowbro{
    position: absolute;
    width: 30%;
    left: 3%;
    bottom: 0%;
    z-index: 1;
}
#slowbro:hover{
    transform: translate(10px, 2%);
}

@media screen and (max-width: 800px) {

    .card img{
        width: 40%;
        margin: auto;
        
    }
    .card{
        width: 70%;
        margin: auto;
    }
    .classes, .noticias, .builds, .video{
        width: 28%;
        font-size: 1.4rem;
    }

    #brilho{
        display: none;
    }

    #iframe{
        width: 460%;
        position: relative;
        right: 140%;
    }
    #status, #logo{
        display: none;
    }
    #navbar1, #navbar2{
        width: 2%;
    }




    #slowbro, #tyranitar, #scizor, #sableye, #talonflame, #comfey, #dragapult, #eldegoss, #greedent, #venusaur, #wiggly, #clefable{
      display: none;
    }
 
}





.fundoBuilds .card {
    border-radius: 5%;
    background-color: #511258;
    color: rgb(224, 169, 238);

}

.fundoBuilds .card img{
    border-radius: 40%;

}

.fundoClasses .card {
    border-radius: 5%;

}

.fundoClasses .card img{
    border-radius: 5%;

}

#cardClasses{
    background-color: rgb(91, 1, 133);
    color: rgb(255, 255, 255);
}


.fundoVideo{
    position: relative;
    background-color: rgb(65, 17, 95);
}
.cardVideo{
    position: relative;
    width: 20%; 
    left: 30%;
    bottom: 10%;
}

.cardNoticias{
    background-color: #ffffff;
}
/*


#cardNoticias{
    margin: auto;
    margin-top: 5%;
    width: 55%;
    border-radius: 50px;
    background-color: rgb(91, 1, 133);

}


#cardNoticias{
    margin: auto;
    margin-bottom: 15%;
    width: 55%;
    border-radius: 50px;
    background-color: rgb(91, 1, 133);

}*/
#rodape{
    position: absolute;
    color: #ffffff;
    bottom: 5%;
    right: 8%;
    font-family: 'Courier New', Courier, monospace;
}

#status{
    position: absolute;
    bottom: 12%; 
    right: 17%;
    width: 6%;
}

#textoClasses h5{
    font-size: 1rem;
}

#navbar2{
    margin-left: 50%; color: #ffffff;  background-color:  #5b135e8a; border-radius: 60px;
}

.fundoCard{
    width: 55%;
    margin-left: 25% ;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.fundoCard:hover{
	transform: scale(1.2);
}

.faixaRoxa{
    border: #6b006dc5 solid 1rem;
    border-radius: 16px;

    
}

#cardNoticias{
    margin: auto;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    width: 85%;
    border-radius: 20px;
    background-color: rgb(248, 232, 255);
    color: #4c0053;
    text-align: center;

}

#simboloNovidades{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 15%;
}


